h1 {
    text-align: center;
    font-size: 50px;
}
body {
    background: linear-gradient(to right, cyan 50%, yellow 50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-size: 25px;
}

img {
    width: 240px;
}

h2 {
    font-size: 35px;
    text-align: center;
    background: linear-gradient(to right, yellow 50%, cyan 50%);
}
